.postsWrapper {
  border: 1px maroon solid;
  padding: 20px;
  background: rgb(240, 240, 240);
}

.flexWrapper {
  display: flex;
  flex-direction: row;
}

.blogHeader {
  flex: 1;
}

.homeLink {
  flex: 1;
  text-align: right;
}

.homeLinkA {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(114, 19, 19);
}

.postItem {
  margin-bottom: 20px;
}