html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

/*
  Layout
*/
.container-horizontal {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.flex-1 {
  flex: 1;
}

/*
  Text
*/

.header {
  font-size: 48px;
  margin: 0;
}

/*
  Color
*/

.bg-dark {
  background-color: rgb(26, 26, 26);
}

.text-light {
  color: rgb(218, 218, 218);
}

.text-red {
  color: rgb(241, 120, 95);
}
