.homeContainer {
  height: 100vh;
}

.homeNavWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.homeNavTitle {
  font-size: 56px;
}

.homeNavSubtitle {
  align-self: center;
  margin-left: 20px;
}

.blogLink {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 50px 0px 0px 50px;
}
