.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.homeContentContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex: 4;
}

.homeHeader {
  font-size: 80px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}

.bottomSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.enterButton {
  display: flex;
  cursor: pointer;
  width: 150px;
  height: 60px;
  border-radius: 7px;
  background: rgba(95, 216, 241, 0.5);
  border: 2px rgb(95, 216, 241) solid;
  color: black;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
