.transition {
  position: relative;
  background-color: rgb(83, 0, 0);
  width: 100%;
  z-index: 5;
  bottom: 0;
}

.transitionWrapper {
  bottom: 0;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}